<%- include('header') -%>

<div class="text-center center-div" id="login">
    <div class="box container w-25 border py-5">
        <div class="title pb-5">
            <h2 class="font-weight-bold">Log in</h2>
            <span>Log in for the existing user</span>
            <% if (locals.logout) { %>
                <div class="alert alert-success text-center">
                    <%= logout %>
                </div>
            <% } %>
            <% if (locals.errorMessage) { %>
                <div class="alert alert-danger text-center">
                    <%= errorMessage %>
                </div>
            <% } %>
        </div>
        <form action="/route/login" method="post" class="pt-3">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" name="email">
                <small class="form-text text-muted text-left text-center">Registered Email Address</small>
            </div>
            <div class="box1 form-group">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn button rounded-pi">Submit</button>
        </form>
        <p class="mt-3">Don't have an account? <a href="/route/signup">Sign up here</a></p>
  </div>
    </div>
</div>

<%- include('footer') -%>