/* base */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Konkhmer+Sleokchher&family=Lato:wght@900&family=Mukta:wght@800&family=Noto+Sans+SC:wght@900&family=Righteous&family=Roboto:wght@100&display=swap');
body{
    font-family:  'Inter', sans-serif;
    color: white;
    background-image: linear-gradient(to right, rgb(9, 144, 132) , rgb(0, 0, 0));
    background-size: cover;
}
.box{
    background-color: black;
    border-radius: 2em;
}
.box1{
    background-color: black;
    border-radius: 2em;
}
.center-div{
    
    padding-top: 10%;
}
.btn.btn-success{
    padding:.4em 2em;
    margin-top: 2em;
}
form{
    padding: 0 3em;
}
#login.title>span{
    font-size: .8em;
}
.button{
    color:white;
    margin-top: 2em;
    background-color:rgb(9, 144, 132);
}
.button:hover{
    background-color: rgb(8, 114, 106);
}
.buttn{
    color:white;
    background-color: rgb(103, 246, 218);
}

/* admin panel */
.container {
    padding-top: 30px;
}
.table {
    text-align: center;
}
.table th,
.table td {
    vertical-align: middle;
}
.delete-btn {
    margin-top: 0;
}
  /* Styling for the admin panel heading */
.admin-heading {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}
.thead-dark{
    font-size:larger;
    font-weight: bolder;
}
.btn-success{
    margin-bottom: 30px;
}
.btn-primary{
    margin-bottom: 30px;
}
.table-thick {
    border: 4px solid #010709;
}
.btn-warning{
    margin-left: 680px;
}